@using nauseous.Models;


<div class="container">
    <div class="row">
        <div class="col-8 col-sm-4">

        </div>
        <div class="col-4">
            <div class="card text-center">
                <h5 class="card-header">@ViewBag.Clothes.Price UAH</h5>
                <div class="card-body">
                    <img src=@ViewBag.Clothes.ImgPath class="card-img-top" alt="..." />
                    <h5 class="card-title>FFF@ViewBag.hoodie</h5>
                    <p class="card-text">@ViewBag.Clothes.Name</p>
                </div>
            </div>
        </div>
    </div>
</div>



