@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Nauseous world</h1>
    <p>_________________________________</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img src="~/images/hood.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title">X-RAY</h5>
                    <p class="card-text">750 UAH</p>
                    <a href="cards/1" class="btn btn-primary">more details</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img src="~/images/tshirt.jpg"  class="card-img-top" alt="...">
                <div class="card-body text-center te">
                    <h5 class="card-title">Ali Knocked Down</h5>
                    <p class="card-text">500 UAH</p>
                    <a href="cards/2" class="btn btn-primary">more details</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img src="~/images/cap.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title">Life is Nauseous</h5>
                    <p class="card-text">500 UAH</p>
                    <a href="cards/3" class="btn btn-primary">more details</a>
                </div>
            </div>

        </div>
    </div>
</div>
